{# src/DEV/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "DEVPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block DEVplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("DEVPlatformBundle:Advert:form.html.twig") }}

  <p>
    Vous ajouter une annonce déjà existante sur le site.
  </p>

  <p>
    <a href="{{ path('DEV_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>

{% endblock %}
